---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

// Components
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import { HiOutlineLocationMarker } from 'react-icons/hi';

// Constants
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

// Define a constant for the post type text to improve reusability
const POST_TYPE = 'Study Case';

// Fetch and sort all blog posts by publication date
const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

// Image
import HeroFoto from '../assets/ascii-art-blue.png'
---

<!doctype html>
<html lang="en" class="bg-white dark:bg-gray-900 text-gray-800 dark:text-gray-200">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="font-sans leading-relaxed antialiased">
    <Header />
    <main>

      <section class="grid grid-cols-1 md:grid-cols-3 mt-27 mb-15">
        <!-- Text block (span 2 grid) -->
        <div class="md:col-span-2 flex flex-col justify-between h-full">
          <h1 class="text-8xl tracking-tight font-extrabold font-mono text-black leading-24">
            Ferdian N. Fariza
          </h1>
          <div>
            <p class="text-xl text-black font-semibold">
              Data scientist. Based in Central Java
            </p>
            <p class="text-base text-zinc-600 font-normal">
              Formerly at Universitas Dian Nuswantoro PR Team.
            </p>
          </div>
        </div>
        

        <!-- Image (1 grid column) -->
        <div class="md:col-span-1 relative w-auto overflow-hidden rounded-lg">
          <!-- Gambar -->
          <Image
            width={720}
            height={550}
            src={HeroFoto}
            alt="Ferdian"
            class="w-full h-82 object-cover scale-135 "
          />

        </div>
      </section>


      <section class="grid grid-cols-1 md:grid-cols-3 items-end mb-10">
        <p class="text-2xl col-span-1 col-start-3 col-end-4 text-left font-bold text-black mb-3">Project Showcase</p>
        <p class="text-base col-span-1 col-start-3 col-end-4 text-left text-zinc-600 font-medium leading-relaxed">
I’ve worked with different clients, which taught me how to solve problems better and explain ideas clearly. Here are some of the projects I’ve worked on.        </p>
      </section>


      <section>
        <ul class="grid grid-cols-1 md:grid-cols-3 list-none p-0 m-0 gap-0.5">
          {
            posts.map((post) => (
              <li class="relative w-full overflow-hidden group">
                <a href={`/projects/${post.id}/`} class="block w-full h-75">
                  {/* Post Image */}
                  {post.data.heroImage && (
                    <Image
                      width={720}
                      height={550}
                      src={post.data.heroImage}
                      alt={post.data.title}
                      class="w-full h-full object-cover transform transition-transform duration-200 rounded-lg group-hover:scale-105 "
                    />
                  )}
                  {/* Overlay */}
                  <div class="absolute bottom-0 left-0 right-0 p-4 mr-30">
                    <h4 class="m-0 text-xl font-extrabold font-sans leading-tight text-white mb-2 text-shadow-sm">
                      {post.data.title}
                    </h4>
                    <h4 class="m-0 text-sm font-semibold font-sans text-white/70 text-shadow-sm">
                      {post.data.description}
                    </h4>
                  </div>
                </a>
              </li>

            ))
          }
        </ul>
      </section>

    </main>
  </body>
  <footer>
    <Footer/>
  </footer>
</html>