---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

// Components
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

// Constants
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

// Define a constant for the post type text to improve reusability
const POST_TYPE = 'Study Case';

// Fetch and sort all blog posts by publication date
const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

// Image
import HeroFoto from '../assets/ascii-art.png'
---

<!doctype html>
<html lang="en" class="bg-white dark:bg-gray-900 text-gray-800 dark:text-gray-200">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="font-sans leading-relaxed antialiased">
    <Header />
    <main>

      <section class="grid grid-cols-1 md:grid-cols-3 items-center my-27">
        <!-- Text block (span 2 grid) -->
        <div class="md:col-span-2 h-auto justify-between">
          <h1 class="text-8xl tracking-tight font-extrabold font-mono my-auto text-black leading-24">
            Ferdian N. Fariza
          </h1>
          <div>
            <p class="text-base text-black font-semibold">
              Data engineering using Python, and building applications.
            </p>
            <p class="text-sm text-zinc-500">
              Central Java, Indonesia
            </p>
          </div>
        </div>

        <!-- Image (1 grid column) -->
        <div class="md:col-span-1 relative w-auto overflow-hidden">
          <!-- Gambar -->
          <Image
            width={720}
            height={550}
            src={HeroFoto}
            alt="Ferdian"
            class="w-full h-82 object-cover scale-115 translate-x-20"
          />

          <!-- Tombol overlay -->
          <div class="absolute top-60 left-4 flex flex-col gap-2">
            <a href="/resume" class="bg-[#2354FF] tracking-widest w-max px-3 py-1 text-2xl font-bold text-whitee inline-block hover:bg-gray-200 transition">
              RESUME
            </a>
          </div>

        </div>


      </section>

      <section class="grid grid-cols-1 md:grid-cols-3 items-end my-10">
        <p class="text-2xl col-span-1 col-start-3 col-end-4 text-right font-bold text-black">What I’ve Worked On</p>
        <p class="text-base col-span-1 col-start-3 col-end-4 text-right text-zinc-600 font-medium leading-normal">Most of my experience comes from collaborating with clients on real-world projects.</p>
      </section>


      <section>
        <ul class="grid grid-cols-1 md:grid-cols-3 list-none p-0 m-0">
          {
            posts.map((post) => (
              <li class="relative w-full overflow-hidden group">
                <a href={`/blog/${post.id}/`} class="block w-full h-82">
                  {/* Post Image */}
                  {post.data.heroImage && (
                    <Image
                      width={720}
                      height={550}
                      src={post.data.heroImage}
                      alt={post.data.title}
                      class="w-full h-full object-cover transform transition-transform duration-200 group-hover:scale-105"
                    />
                  )}
                  {/* Overlay */}
                  <div class="absolute inset-0 bg-black/10 opacity-0 group-hover:opacity-100 transition-opacity duration-300"></div>
                  <div class="absolute bottom-0 left-0 right-0 p-4">
                    <h4 class="m-0 text-xl font-bold font-mono leading-0 text-white">
                      {post.data.title.split(' ').map((word) => (
                        <span class="bg-black px-2 pt-0.5 pb-1 leading-tight inline-block group-hover:bg-[#2AC742] shadow-xl">
                          {word}
                        </span>
                      ))}
                    </h4>
                    <p class="m-0 text-sm text-neutral-900 bg-white/50 backdrop-blur-xs px-2 py-1 leading-tight inline-block mt-2">
                      {post.data.description}
                    </p>
                  </div>
                </a>
              </li>

            ))
          }
        </ul>
      </section>

      <div class="grid grid-cols-1 md:grid-cols-3 my-10">

        <p class="md:col-span-1 text-base font-medium leading-normal">
          Working with a variety of clients has sharpen me to solve problems effectively and communicate solutions clearly.
        </p>

      </div>

    </main>
  </body>
  <footer>
    <Footer/>
  </footer>
</html>